- doc.endpoints.forEach(function(endpoint) {
  - endpoint = endpoint.endpoint

  a(name=anchor(endpoint))
  div.endpoint
    h4
      ul.example_selector
        li.http(data-example="http") HTTP
        li.curl(data-example="curl") curl
        li.ruby(data-example="ruby") Ruby
      span.action
        = endpoint.action
    div.text!= text_as_html(endpoint.text)
    - if (endpoint.params)
      div.params
        - endpoint.params.forEach(function(param) {
          - required_class = (param.required) ? 'required' : 'optional';
            div.param(class=required_class)
              div.name= param.name
              div.input
                input.param(name=param.name, type="text", size="10", value=param.value)
              div.type(class=required_class)
                = required_class
              div.text!= text_as_html(param.text)
        - })
    input.sample.json(type="hidden", value=endpoint.response.json)
    input.sample.xml(type="hidden", value=endpoint.response.xml)
    input.sample.ruby(type="hidden", value=endpoint.ruby)
    div.examples
      div.example.http
        div.request
          h4 HTTP Request
            input.execute(type="button", value="Execute")
            .status.spinner
              img(src="/spinner.gif")
            .status.success
              img(src="/success.png")
            .status.error
              img(src="/error.png")
          textarea(readonly)
        div.response
          h4 HTTP Response
          textarea(readonly)
      div.example.curl
        h4 Example
        textarea(readonly)
      div.example.ruby
        h4 Example
        textarea(readonly)
- })
